html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000000;
    color: #fff;
    font-family: "Times New Roman",Times,serif;
}

.container {
    margin: 0 30px;

}

.table-wrapper{
    overflow-x: scroll;
}

.site{
 
    background: transparent url(//cdn.shopify.com/s/files/1/1096/6966/t/3/assets/emergency.png?v=1820850…) repeat-x top -100px center;
    background-size: 100px;

}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 1.5em;
}
section header h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: gold;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    transform: scaleX(0.78);
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.cinema .screenings {
    margin: 30px 0;
    border-collapse: collapse;
}

.cinema .screenings thead {
    color: gold;
    text-transform: uppercase;
}

.cinema .screenings tr td {
    padding: 7.5px 15px;
    text-align: center;
}

hr.emergency {
    border: 0;
    background: transparent url(//cdn.shopify.com/s/files/1/1096/6966/t/3/assets/emergency.png?v=1820850…) repeat-x center center;
    background-size: 100px;
    height: 150px;
    z-index: 99;
    margin: 30px 0;
}

ul {
    list-style: disc;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul, ol {
    margin: 0 0 1.5em 3em;

}

ul{
    display: block;
}
#navigation .container {
    display: block;
    margin: 0;
}

#navigation nav {
    background-color: #000E;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    transition: .2s ease all;
    transform: translateY(0%);
}

#navigation nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#navigation nav ul li {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    padding-left: 5px;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;

    text-rendering: auto;
   
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
   
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}
